body {
  background: #222;
  color: lime;
  font-family: monospace;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#header {
  display: flex;
  align-items: last baseline;
  margin: 15px;
}

#cursor {
  background: lime;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 1.0s infinite;
  width: 6px;
  height: 15px;
}

@-webkit-keyframes blink {
  0% {background: transparent}
  50% {background: lime}
  100% {background: transparent}
}
